<?xml version="1.0"?>
<launch>
    <arg name="joy"  default="false"/>
    <arg name="dev"  default="/dev/input/js0"/>
    <arg name="speed"  default="0.5"/>
    <arg name="turn"  default="0.5"/>

    <node if="$(arg joy)" name="joy" pkg="joy" type="joy_node" required="true">
        <param name="autorepeat_rate" value="5" />
        <param name="dev" value="$(arg dev)" />
    </node>

    <node name="champ_teleop" pkg="champ_teleop" type="champ_teleop.py" output="screen" required="true">
        <param name="joy" value="$(arg joy)" />
        <param name="~speed" value="$(arg speed)" />
        <param name="~turn" value="$(arg turn)" />
    </node>
</launch>
